.section-form {
    background-color: $color-primary;
    padding: ($gap * 1.5) 0;

    @include lg {
        padding: $gap 0;
      }
    &_form {
        @extend %container;

        display: grid;
        grid-gap: $gap / 2;

        @include lg-min {
            grid-template-columns: repeat(3, 1fr) ;
            grid-template-areas: "a1 a2 a3";
        }
        @include lg-md {
            grid-template-columns: repeat(3, 1fr) ;
            grid-template-areas: "a1 a2 a3";
        }
        @include md-sm {
            // grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr; 
            grid-template-areas: 
            "a1 a1" 
            "a2 a3";
        }
        @include sm {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "a1"
            "a2"
            "a3";
        }
        &_item {
            &:nth-of-type(2) {
                grid-area: a2;
            }
            &:nth-of-type(3) {
                grid-area: a3;
            }

            @include lg-min {
                font-size: 18px;
                letter-spacing: 1.8px;
                color: $color-light;
                width: 100%;
                height: 60px;
                background-color: $color-input;
            }
            @include lg-md {
                font-size: 16px;
                letter-spacing: 1.6px;
                line-height: 24px;
                color: $color-light;
                width: 100%;
                height: 60px; 
                background-color: $color-input;
            }
            @include md-sm {
                font-size: 18px;
                letter-spacing: 1.8px;
                line-height: 11px;
                color: $color-light;
                width: 100%;
                height: 60px; 
                background-color: $color-input;
            }
            
            @include sm {
                font-size: 18px;
                letter-spacing: 1.8px;
                line-height: 11px;
                width: 100%;
                height: 60px;
                background-color: $color-input;
            }
        }
        & input {
            padding-left: ($gap * 1.5);
            background-color: $color-input;
            border-color: rgba($color-light, 0) rgba($color-light, 0) rgba($color-light, 0.25);
            transition-property:  background-color, border-color;
            transition-duration: 0.5s;

            &::placeholder {
                transition: color 0.5s;
                color: $color-gray;
              }
  
            &:focus {
                background-color: #4C546B;
                border-bottom-color: $color-light;

                &::placeholder {
                    color: $color-light;
                }
            }

        }
        & button {
            color: #c8cbd1;
            background-color: #424a62;
            border-width: 2px;
            border-color: rgba($color-light, 0) rgba($color-light, 0) rgba($color-light, 0.25);
            transition-property:  background-color, border-color;
            transition-duration: 0.5s;
          }
        button:hover {
            background-color: $color-accent;
            border-color: $color-light;
        }
        &_input-name {
            grid-area: a1;
        }
    }
}