.about {
  background-color: $color-gray-light;

  @include lg-min {
    padding: 0 0 67px;
  }
  @include lg-md {
    padding: 0 0 ($gap * 1.5);
  }
  @include md-sm {
    padding: 0 0 $gap;
  }
  @include sm {
    padding: 0 0 68px;
  }
    &__container {
    display: flex;
    justify-content: space-between;
    
    @extend %container;

    @include sm {
      flex-direction: column;
    }
  }

  &__description {

    @include lg-min {
      padding: ($gap * 5) 0 0;
    }

    @include lg-md {
      max-width: 625px;
      padding: ($gap * 4) 0 0;
    }

    @include md-sm {
      max-width: 410px;
      padding: ($gap * 3) 0 0;
    }
    @include sm {
      width: 100%;
      padding: 57px 0 0;
    }

    h2 {
      font-size: 2.5rem;
      letter-spacing: 4px;
      margin: 0 0 ($gap * 2.5);
      
      @include lg-md {
        h2 {
          font-size: 2rem;
          letter-spacing: 3.2px;
          line-height: 40px;
          margin: 0 0 ($gap * 1.74);
        }
      }
      @include md-sm {
        h2 {
          font-size: 1.5rem;
          letter-spacing: 2.4px;
          line-height: 32px;
          margin: 0 0 ($gap * 1.25);
        }
      }
      @include sm {
        h2 {
          font-size: 1.5rem;
          letter-spacing: 2.4px;
          line-height: 32px;
          margin: 0 auto ($gap);
        }
      }
    }
    p {
      @include md-min {
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 24px;
      }
      @include md {
        font-size: 1rem;
        letter-spacing: 0.8px;
        line-height: 24px;
      }

      &:first-of-type {

        position: relative;
        &::after {
          content: '';
          background-color: rgba($color-gray, 0.25);
          width: 1px;
          height: 200px;
          position: absolute;
          top: 0;

          @include lg-min {
            right: (-$gap * 2);
          }
          @include lg-md {
            right: (-$gap * 1.5);
          }
          @include md-sm {
            right: (-$gap * 1.1);
          }
          @media (max-width: 700px) {
            display: none;
          }
        }
      }
      &:nth-of-type(3) {

        @include md-sm {
          display: none;
        }
      }
      &:nth-of-type(4) {
  
        @include lg {
         display: none;
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__img {

    @include lg-min {
      padding: ($gap * 5) 0 0 ($gap * 4);    
    }
    @include lg-md {
      padding: ($gap * 2.5) 0 0 ($gap * 1.25);
    }
    @include md-sm {
      padding: 36px 0;
    }

    img {
      max-width: 271px;
      max-height: 488px;
      object-fit: cover;
      
      @include md-sm {
        max-width: 236px;
        max-height: 425px;
      }

      @include sm {
        display: block;
        height: 465px;
        width: 250px;
        margin: 0 auto;
      }
    }
  }
}