* { 
    box-sizing: border-box;
  }
  html {
    overflow-y: scroll;/*временно для удобства верстки*/
    font-family: Roboto, "sans-serif";
    font-size: 16px;
    color: #637588;
    letter-spacing: 0.1em;
    
  }
  h1{
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    line-height: 1.2em;
    letter-spacing: 0.08em;
  }
  h2{
    color: #2d3651;
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
  }
  // h3 {
  
  // }
  // p{
  
  // }
  a {
    color: #ffffff;
    text-decoration: none;
  }
  // input:focus {
  
  // }
  .btn {
    display: block;
    min-width: 250px;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 18px 20px;
    text-align: center;
    font-size: 1.125rem;
    transition: 0.5s;
  
  &:hover,
  &:focus {
    background-color: #d66926;
  }
}