.footer {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-primary;
    padding: ($gap * 2.5) 0 ($gap * 3);

    @extend %container;

    &_list-social {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: $gap / 2;
        grid-template-columns: repeat(5, 40px) minmax(240px, max-content);
        // width: 240px;
        height: 38px;

        &::after {
            content: '';
            position: absolute;
            width: 77px;
            height: 0px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            // background-color: $color-gray;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
        }

        &_item {
            // width: 40px;

            &_icon {
            // letter-spacing: 8.28px;
            // line-height: 20px;
            font-size: 37px;
            color: $color-light;
            transition: color 0.5s;

                &:hover {
                    color: $color-accent;
                }
            }
        }
    }
    &__description {
        font-family: $font-main;
        font-size: $font-size;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 20px;
        text-transform: uppercase;
        color: $color-light;
        display: block;
        margin: 0 auto;
        padding: ($gap * 1.5) ($gap * 2.5) 0;

        span {
            font-weight: 100;
            letter-spacing: 4.78px;
            color: $color-gray;
        }
    }
}
