.footer {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $color-primary;
    padding: ($gap * 2.5) 0 ($gap * 3);

    &__container {
        @extend %container;
      }
  
    &__list-social {
        display: grid;
        grid-gap: $gap / 2;
        grid-template-columns: repeat(5, 40px);
        padding: 0 ($gap * 1.5) ($gap * 1.5) ($gap * 1.5);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 77px;
            border: 2px solid rgba(255, 255, 255, 0.1);
            bottom: -0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__list-social__item {

        &__icon {
        letter-spacing: 8.28px;
        line-height: 20px;
        font-size: 36px;
        font-weight: 400;
        padding-left: 5px;
        color: $color-light;
        transition: color 0.5s;

            &:hover {
                color: $color-accent;
            }
        }
    }

    &__description {
        font-family: $font-main;
        font-size: $font-size;
        font-weight: 700;
        letter-spacing: 0.8px;
        line-height: 20px;
        text-transform: uppercase;
        color: $color-light;
        text-align: center;
        padding: ($gap * 1.5) ($gap * 2.5) 0;

        span {
            font-weight: 100;
            letter-spacing: 4.78px;
            color: $color-gray;
        }
    }
}
