.header-navbar {
    display: grid;
    align-items: center;
  
    &__hamburger {
      display: none;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0 -20px 0 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      justify-content: end;
    }

    &__link {
      display: block;
      padding: 20px;
      font-size: 1.125rem;
      transition: color 0.5s;

      &:hover,
      &:focus {
        color: $color-accent;
    }
  }
}